.first-quarter-wrapper {
    margin: 15px;
    background-color: #1F2937;
}

.left-side-top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.company-name-column {
    align-self: start;
    font-family: scryptonite;
    font-size: 33px;
    color:#E5E7EB;
    height: 60px;
    padding-top: 15px;
    padding-left: 80px;
    padding-bottom: 0;
    flex: 1 1 auto;
}

.links-column {
    font-size: 16px;
    font-weight: 500;
    font-family: guerilla;
    color:#E5E7EB;
    height: 60px;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    padding-top: 20px;
    padding-right: 80px;
    gap: 16px;
    flex: 1 1 auto;
  }

  a:link {
    color: inherit!important;
}

  .description-column {
    align-items: start;
    height: 415px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 60px;
    max-width: 600px;
    min-width: 100px;
    max-height: 385px;
    min-height: 100px;
    flex: 1 1 auto;
    align-items: flex-start;
  }

h1 {
    font-family: bold-allcaps-leaning;
    font-size: 42px;
    font-weight: 100;
    color:#F9FAF8;
    max-width: 635px;
    min-width: 100px;
    padding-bottom: 0;
}

.description {
    color:#E5E7EB;
    font-family: guerilla;
    font-weight:0;
    font-size: 16px;
    max-width: 635px;
    min-width: 100px;
    padding-bottom: 8px;
    padding-top: 0;
}

.button-back {
    background-color:#87a2c0;
    cursor: pointer;
    border-radius: 12px;
    outline-offset: 4px;
    padding: 0px;
}

.button-front {
    display: inline-block;
    color: #E5E7EB;
    font-size: 20px;
    font-family: bold-allcaps-rev;
    text-align: center;
    padding: 11px 28px;
    border-radius: 12px;
    background-color:#3780f6;
    transform: translateY(-6px);
    transition-duration: 0.4s;
    width: 125px;
}

.button-front:hover {
    background-color:rgb(202, 219, 241);
    color:#1c283a;
}

.button-back:active .button-front {
    transform: translateY(2px);
}

.top-image-column {
    display: flex;
    min-height: 200px; 
    max-height: 385px;
    max-width: 535px;
    min-width: 200px;
    padding-right: 100px;
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 100px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#img1 {
    width: 355px;
    height: 200px;
    flex: 1, 1, auto;
    align-self:baseline;
    border: 4px groove #485063;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 3px #000000ed;
}

#img1:hover {
    box-shadow: 6px 6px 15px 4px rgb(244, 244, 244);
  }

.second-quarter {
    background-color: #E5E7EB;
    height: 475px;
}

.finds-title-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

h2 {
    font-family: neobulletin-bold;
    color:#1F2937;
    align-self: center;
    align-items: center;
    align-content: center;
    flex: 0, 1, auto;
}

.img-figures-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-self: baseline;
    align-content: baseline;
}
 
.img1, .img2, .img3, .img4 {
    width: 200px;
    height: 200px;
    border: 4px solid #3780f6;
    border-radius: 15px;
    flex: 1;
    align-self: baseline;
    align-items: baseline;
    align-content: baseline;
}

figcaption {
    font-family: neobulletin-semi-bold;
    color:#1F2937;
    
}

.finds-container {
    flex: 1;
    align-self: baseline;
    align-items: baseline;
    align-content: baseline;

}

.third-quarter {
    background-color: #E5E7EB;
    font-size: 4px;
    font-family: semi-strong;
    color: #1F2937
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-quarter {
    background: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-box-container {
    background-color: #3882F6;
    border-radius: .5em;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.advertisement-container {
    font-family: dead-revolution;
    color: #E5E7EB;
}

.instructions-container {
    font-family: dead-revolution;
    color: #E5E7EB;
    font-size: 13px;
}

.signup-button-container {

}

.signup-button {
    background-color: #3780f6;
    color: #E5E7EB;
    font-family: bold-allcaps-rev;
    font-size: 16px;
    padding: 10px 30px;
    width: 85px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 12px;
    font-family: bold-allcaps-leaning;
    height: 200px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: neobulletin-two;
    src: url(fonts/neobulletin-bold.ttf);
}

@font-face {
    font-family: neobulletin-semi-bold;
    src: url(fonts/neobulletin-semi-bold.ttf);
}

@font-face {
    font-family: neobulletin-bold;
    src: url(fonts/neobulletin-two.ttf);
}

@font-face {
    font-family: underground-lowercase;
    src: url(fonts/underground-lowercase.ttf)
}

@font-face {
    font-family: underground-allcaps;
    src: url(fonts/underground-dark-bold-allcaps-shadowed.ttf);
}

@font-face {
    font-family: underground-allcaps-italic;
    src: url(fonts/underground-dark-bold-allcaps-shadowed-italic.ttf);
}

@font-face {
    font-family: granny-t;
    src: url(fonts/WBX_GT__.TTF);
}

@font-face {
    font-family: granny-tb;
    src: url(fonts/WBX_GTB_.TTF);
}

@font-face {
    font-family: typewriter;
    src: url(fonts/jmhtypwriter.ttf);
}

@font-face {
    font-family: guerilla;
    src: url(fonts/guerilla.ttf);
}

@font-face {
    font-family: dead-revolution;
    src: url(fonts/dead-revolution.otf)
}

@font-face {
    font-family: counterculture;
    src: url(fonts/countercult-rev-allcaps.ttf);
}

@font-face {
    font-family: semi-strong;
    src: url(fonts/semi-strong-lowercase.ttf);
}

@font-face {
    font-family: viking informal;
    src: url(fonts/viking-informal.ttf);
}

@font-face {
    font-family: scryptonite;
    src: url(fonts/cursive-exciting-scriptonite.ttf);
}

@font-face {
    font-family: thor;
    src: url(fonts/Godofthunder-0WO1P.ttf);
}

@font-face {
    font-family: bold-allcaps-rev;
    src: url(fonts/bold-allcaps-rev.otf);
}

@font-face {
    font-family: bold-allcaps-leaning;
    src: url(fonts/bold-allcaps-leaning-in-rev.otf);
}

